# Ignorar pastas de evidencias e relatorios
evidencias_funcionais_*/
evidencias_visuais_*/
regressao_lance_*/
__pycache__/
*.png

# Ignorar massa de dados real (Segurança/Privacidade)
urls.json
urls_funcionais.json